In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv(r'C:\Users\USER\Desktop\DataSet\train.csv')

In [ ]:
data.sample(3)

In [79]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'WikiId', 'Name_wiki',
       'Age_wiki', 'Hometown', 'Boarded', 'Destination', 'Lifeboat', 'Body',
       'Class'],
      dtype='object')

In [80]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
WikiId           2
Name_wiki        2
Age_wiki         4
Hometown         2
Boarded          2
Destination      2
Lifeboat       546
Body           804
Class            2
dtype: int64

In [84]:
data.drop(['Name','Ticket','Name_wiki','Cabin','Hometown','Destination','Lifeboat','Body'],axis=1,inplace=True)

In [87]:
data.head(10)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,WikiId,Age_wiki,Boarded,Class
0,1,0.0,3,0,22.0,1,0,7.2500,S,691.0,22.0,Southampton,3.0
1,2,1.0,1,1,38.0,1,0,71.2833,C,90.0,35.0,Cherbourg,1.0
2,3,1.0,3,1,26.0,0,0,7.9250,S,865.0,26.0,Southampton,3.0
3,4,1.0,1,1,35.0,1,0,53.1000,S,127.0,35.0,Southampton,1.0
4,5,0.0,3,0,35.0,0,0,8.0500,S,627.0,35.0,Southampton,3.0
5,6,0.0,3,0,NaN,0,0,8.4583,Q,785.0,22.0,Queenstown,3.0
6,7,0.0,1,0,54.0,0,0,51.8625,S,200.0,54.0,Southampton,1.0
7,8,0.0,3,0,2.0,3,1,21.0750,S,1108.0,2.0,Southampton,3.0
8,9,1.0,3,1,27.0,0,2,11.1333,S,902.0,26.0,Southampton,3.0
9,10,1.0,2,1,14.0,1,0,30.0708,C,520.0,14.0,Cherbourg,2.0

In [86]:
sex_mapping = {"male": 0, "female": 1}
data['Sex'] = data['Sex'].map(sex_mapping)

In [107]:
Em_mapping = {"C": 1, "Q": 2,"S": 3}
data['Embarked'] = data['Embarked'].map(Em_mapping)

In [129]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              2
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
WikiId           2
Age_wiki         4
Class            2
dtype: int64

In [132]:
data.drop(['Age','Embarked','WikiId','Age_wiki','Class'],axis=1,inplace=True)

In [153]:
data.drop(['Sex'],axis=1,inplace=True)

In [154]:
data.head()

   PassengerId  Survived  Pclass  SibSp  Parch     Fare
0            1       0.0       3      1      0   7.2500
1            2       1.0       1      1      0  71.2833
2            3       1.0       3      0      0   7.9250
3            4       1.0       1      1      0  53.1000
4            5       0.0       3      0      0   8.0500

In [155]:
data.head()

   PassengerId  Survived  Pclass  SibSp  Parch     Fare
0            1       0.0       3      1      0   7.2500
1            2       1.0       1      1      0  71.2833
2            3       1.0       3      0      0   7.9250
3            4       1.0       1      1      0  53.1000
4            5       0.0       3      0      0   8.0500

In [156]:
from sklearn.model_selection import train_test_split

In [157]:
X=data.drop(['Survived','PassengerId'],axis=1)
y=data['Survived']

In [158]:
X_train,x_test,y_train,y_test=train_test_split(X,y,test_size = 0.22, random_state = 0)

In [159]:
from sklearn.linear_model import LogisticRegression

In [160]:
lg=LogisticRegression()

In [161]:
lg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [162]:
y_pred = lg.predict(x_test)

In [163]:
y_pred

array([0., 0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 0.,
       0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1.,
       1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1., 0.,
       0., 1., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 0., 0., 1., 1., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0.,
       0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 1., 0.])

In [165]:
from sklearn.metrics import accuracy_score
acc_logreg = round(accuracy_score(y_pred, y_test) * 100, 2)
print(acc_logreg)

70.56